body {
    margin: 0;
}

html {
    background: var(--bg);
    color: var(--text);
}

.grid {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #8080800a 1px, transparent 1px),
        linear-gradient(to bottom, #80808009 1px, transparent 1px);
    mask-image: radial-gradient(at center, black 5%, transparent 90%);
    background-size: 14px 14px;
}

::selection {
    background: var(--accent);
    color: var(--bright-text);
}

a {
    color: var(--accent);
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    transition: 0.2s;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
}

a.uanim::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--accent);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s;
}

a.uanim:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 220px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2396238745;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    width: 375px;
    overflow: hidden;
    border-radius: 15px;
    background: var(--bg-2);
    transform-origin: center center;
    transition: 0.3s;
    border: 1px solid var(--border-3);
    padding: 10px;
    font-weight: 400;
}

ul.active {
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
    opacity: 1;
    z-index: 39846328745;
}

.bottom-nav {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
}

ul.collapsed {
    width: 40px;
}

ul.collapsed li a {
    width: 14px;
    margin-left: 0;
    padding-left: 9px;
}

li {
    text-wrap: nowrap;
    overflow: hidden;
}

li a {
    display: block;
    color: var(--text);
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 150px;
}

li a:hover {
    background: var(--bg-3);
    color: var(--bright-text);
}

li a.active {
    background: var(--bg-3);
    color: var(--bright-text);
}

.ri {
    font-size: 22px;
}

li a .ri {
    vertical-align: -2px;
    margin-right: 8px;
}

#cBtn {
    transition: 0.3s;
}

#cBtn.rotate {
    transform: rotate(180deg);
}

#pageframe {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 98%;
    height: 97.2vh;
    border-radius: 15px;
    border: 1px solid var(--border-3);
    background: var(--bg-2);
    transition: 0.3s;
}

input {
    background: var(--bg-3);
    border: 1px solid var(--border-4);
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition: 0.2s;
    width: 400px;
    height: 30px;
    font-size: 17px;
}

input::placeholder {
    color: var(--text);
}

.custom-select {
    position: relative;
    font-family: geist;
    z-index: 999;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: DodgerBlue;
    border-radius: 10px;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    z-index: 999;
}

.select-items {
    border-radius: 10px;
    position: absolute;
    background-color: black;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.whatsnew {
    background: var(--bg-2);
    z-index: 999999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    height: min-content;
    padding: 15px;
    padding-top: 20px;
    opacity: 0;
    pointer-events: none;
    border-radius: 15px;
    border: 1px solid var(--border-4);
    width: 400px;
    transition: 0.2s;
    transform-origin: center center !important;
    overflow: hidden;
}

.wtitle {
    margin-bottom: 27px;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 600 !important;
    position: relative;
}

.wtitle::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    width: 25%;
    height: 5px;
    background: var(--bg-3);
}

.whatsnew li {
    margin-bottom: 10px;
    text-wrap: wrap;
}

.whatsnew .imgdiv {
    width: 112%;
    position: relative;
    left: 50%;
    height: 155px;
    transform: translateX(-50%);
    margin-bottom: -05px;
    background: url(/assets/img/cover.png);
    background-position: center;
    background-size: 130%;
    top: -25px;
    border-radius: 0px;
    border-bottom: 1px solid var(--border-3);
}

.whatsnew li.quoted::before {
    content: "| ";
    font-size: 25px;
    line-height: 0;
    font-weight: bold;
    color: var(--bg-4);
}

.whatsnew button {
    background: var(--bg-3);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--border-4);
    font-size: 18px;
    position: relative;
    right: 0px;
    width: 100%;
    margin-top: 20px;
    transition: 0.2s;
    font-weight: bold;
}

.whatsnew button:hover {
    background: var(--bg-4);
    cursor: pointer;
}

.bluroverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px) brightness(0.8);
}

.nav-logo img {
    position: fixed;
    top: 15px;
    left: 15px;
    height: 45px;
    cursor: pointer;
    transition: 0.15s;
}

.nav-logo img:hover {
    scale: 1.1;
}

