#gameOverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    transition: 0.2s;
    opacity: 0;
    pointer-events: none;
}

#gameOverlay.active {
    opacity: 1;
    pointer-events: all;
}

.record-widget {
    backdrop-filter: blur(10px);
        background: color-mix(in srgb, var(--bg) 30%, transparent 70%);
        border: 2px solid transparent;
        box-shadow: 0 0 0 .5px rgba(255, 255, 255, 0.15),
            0 16px 32px rgba(0, 0, 0, 0.12);
    border-radius: 25px;
    height: 100px;
    width: 111px;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 15px;
}

.record-widget h1 {
    font-size: 24px;
    margin: 5px;
    margin-left: 0;
    margin-bottom: 7px;
}

.record-widget button {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 15px;
    aspect-ratio: 1;
    backdrop-filter: blur(10px);
        background: color-mix(in srgb, var(--bg-2) 30%, transparent 70%);
        border: 2px solid transparent;
        box-shadow: 0 0 0 .5px rgba(255, 255, 255, 0.15),
            0 16px 32px rgba(0, 0, 0, 0.12);
    transition: 0.2s;
    color: var(--text);
    cursor: pointer;
    font-size: 20px;
    margin: 3px;
}

.record-widget button:hover {
    background: var(--bg-3);
}

.record-widget button:disabled {
    filter: brightness(0.75);
    pointer-events: none;
}

.cherri-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    height: 20px;
    backdrop-filter: blur(10px);
        background: color-mix(in srgb, var(--bg) 30%, transparent 70%);
        border: 2px solid transparent;
        box-shadow: 0 0 0 .5px rgba(255, 255, 255, 0.15),
            0 16px 32px rgba(0, 0, 0, 0.12);
    top: 10px;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    transition: 0.2s;
}

.cherri-info .divider {
    display: inline-block;
    background: color-mix(in srgb, var(--bg-2) 60%, transparent 40%);
    width: 2px;
    border-radius: 324986px;
    height: 25px;
    z-index: 234879623847521;
    vertical-align: middle;
    margin-top: 0px;
    position: relative;
    top: -2px;
    margin: 0 5px;
}

.proxy-widget {
    height: 400px;
    width: 550px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 25px;
    border: 1px solid var(--bg-4);
}

.game-controls {
    backdrop-filter: blur(10px);
        background: color-mix(in srgb, var(--bg) 30%, transparent 70%);
        border: 2px solid transparent;
        box-shadow: 0 0 0 .5px rgba(255, 255, 255, 0.15),
            0 16px 32px rgba(0, 0, 0, 0.12);
    border-radius: 25px;
    height: 100px;
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 15px;
}

.game-controls h1 {
    font-size: 24px;
    margin: 5px;
    margin-left: 0;
    margin-bottom: 7px;
}

.game-controls button {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 15px;
    aspect-ratio: 1;
    backdrop-filter: blur(10px);
        background: color-mix(in srgb, var(--bg-2) 30%, transparent 70%);
        border: 2px solid transparent;
        box-shadow: 0 0 0 .5px rgba(255, 255, 255, 0.15),
            0 16px 32px rgba(0, 0, 0, 0.12);
    transition: 0.2s;
    color: var(--text);
    cursor: pointer;
    font-size: 20px;
    margin: 3px;
}

.game-controls button:hover {
    background: var(--bg-3);
}

#vm-frame {
    cursor: none !important;
}