* {
    padding: 0;
    margin: 0;
}

html,
body {
    background: white;
    color: #fff;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
}

canvas {
    touch-action: none;
    -ms-touch-action: none;
}