:root {
    --bg: #0c0c0c;
    --bg-2: #131313;
    --bg-3: #272727;
    --bg-4: #5252528c;
    --bg-5: #000000;
    --border: #ebe3d5c7;
    --border-2: #ebe3d570;
    --border-3: #e0e0e030;
    --border-4: #b4b4b41a;
    --text: #c2c2c2;
    --bright-text: #ffffff;
    --accent: #ffffff;
    --accent-2: #adadad;
}

#reset-theme {
    display: none !important;
}